@font-face {
    font-family: 'AaarghNormal';
    src: url('Aaargh-webfont.eot');
    src: url('Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('Aaargh-webfont.woff') format('woff'),
         url('Aaargh-webfont.ttf') format('truetype'),
         url('Aaargh-webfont.svg#AaarghNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'LatinModernSans10Regular';
    src: url('lmsans10-regular-webfont.eot');
    src: url('lmsans10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmsans10-regular-webfont.woff') format('woff'),
         url('lmsans10-regular-webfont.ttf') format('truetype'),
         url('lmsans10-regular-webfont.svg#LatinModernSans10Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'LatinModernSans10Oblique';
    src: url('lmsans10-oblique-webfont.eot');
    src: url('lmsans10-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmsans10-oblique-webfont.woff') format('woff'),
         url('lmsans10-oblique-webfont.ttf') format('truetype'),
         url('lmsans10-oblique-webfont.svg#LatinModernSans10Oblique') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'LatinModernSans10Bold';
    src: url('lmsans10-bold-webfont.eot');
    src: url('lmsans10-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmsans10-bold-webfont.woff') format('woff'),
         url('lmsans10-bold-webfont.ttf') format('truetype'),
         url('lmsans10-bold-webfont.svg#LatinModernSans10Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'LatinModernSans10BoldOblique';
    src: url('lmsans10-boldoblique-webfont.eot');
    src: url('lmsans10-boldoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmsans10-boldoblique-webfont.woff') format('woff'),
         url('lmsans10-boldoblique-webfont.ttf') format('truetype'),
         url('lmsans10-boldoblique-webfont.svg#LatinModernSans10BoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'LatinModernSansDemiCond10Rg';
    src: url('lmsansdemicond10-regular-webfont.eot');
    src: url('lmsansdemicond10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmsansdemicond10-regular-webfont.woff') format('woff'),
         url('lmsansdemicond10-regular-webfont.ttf') format('truetype'),
         url('lmsansdemicond10-regular-webfont.svg#LatinModernSansDemiCond10Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'LatinModernSansDemiCond10Ob';
    src: url('lmsansdemicond10-oblique-webfont.eot');
    src: url('lmsansdemicond10-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('lmsansdemicond10-oblique-webfont.woff') format('woff'),
         url('lmsansdemicond10-oblique-webfont.ttf') format('truetype'),
         url('lmsansdemicond10-oblique-webfont.svg#LatinModernSansDemiCond10Ob') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'GeosansLightRegular';
    src: url('geosanslight-webfont.eot');
    src: url('geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('geosanslight-webfont.woff') format('woff'),
         url('geosanslight-webfont.ttf') format('truetype'),
         url('geosanslight-webfont.svg#GeosansLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MuseoSans500';
    src: url('museosans_500-webfont.eot');
    src: local('Museo Sans'), 
		 local('MuseoSans500'),
		 url('museosans_500-webfont.eot?iefix') format('eot'),
         url('museosans_500-webfont.woff') format('woff'),
         url('museosans_500-webfont.ttf') format('truetype'),
         url('museosans_500-webfont.svg#webfont5wxGuJSk') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans700';
    src: url('museosans_700-webfont.eot');
    src: local('MuseoSans700'),
		 url('museosans_700-webfont.eot?iefix') format('eot'),
         url('museosans_700-webfont.woff') format('woff'),
         url('museosans_700-webfont.ttf') format('truetype'),
         url('museosans_700-webfont.svg#webfontz9YAQOKn') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans900';
    src: url('museosans_900-webfont.eot');
    src: local('MuseoSans900'),
		 url('museosans_900-webfont.eot?iefix') format('eot'),
         url('museosans_900-webfont.woff') format('woff'),
         url('museosans_900-webfont.ttf') format('truetype'),
         url('museosans_900-webfont.svg#webfontmsbLVE33') format('svg');
    font-weight: normal;
    font-style: normal;

}  

@font-face {
    font-family: 'Museo300';
    src: url('museo300-regular-webfont.eot');
    src: local('Museo300'),
		 url('museo300-regular-webfont.eot?iefix') format('eot'),
         url('museo300-regular-webfont.woff') format('woff'),
         url('museo300-regular-webfont.ttf') format('truetype'),
         url('museo300-regular-webfont.svg#webfontRYLiAJkp') format('svg');
    font-weight: normal;
    font-style: normal;

}  


@font-face {
    font-family: 'MuseoSlab300Italic';
    src: url('museo_slab_300italic-webfont.eot');
    src: url('museo_slab_300italic-webfont.eot?iefix') format('eot'),
         url('museo_slab_300italic-webfont.woff') format('woff'),
         url('museo_slab_300italic-webfont.ttf') format('truetype'),
         url('museo_slab_300italic-webfont.svg#webfontNLbeOFdF') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSlab500Italic';
    src: url('museo_slab_500italic-webfont.eot');
    src: url('museo_slab_500italic-webfont.eot?iefix') format('eot'),
         url('museo_slab_500italic-webfont.woff') format('woff'),
         url('museo_slab_500italic-webfont.ttf') format('truetype'),
         url('museo_slab_500italic-webfont.svg#webfontQ1KtVMdL') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans500Italic';
    src: url('museosans_500_italic-webfont.eot');
    src: url('museosans_500_italic-webfont.eot?iefix') format('eot'),
         url('museosans_500_italic-webfont.woff') format('woff'),
         url('museosans_500_italic-webfont.ttf') format('truetype'),
         url('museosans_500_italic-webfont.svg#webfontNI25lxqG') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans300Italic';
    src: url('museosans-300italic-webfont.eot');
    src: url('museosans-300italic-webfont.eot?iefix') format('eot'),
         url('museosans-300italic-webfont.woff') format('woff'),
         url('museosans-300italic-webfont.ttf') format('truetype'),
         url('museosans-300italic-webfont.svg#webfontVelSbSUc') format('svg');
    font-weight: normal;
    font-style: normal;

}         

@font-face {
    font-family: 'MuseoSlab500';
    src: url('museo_slab_500-webfont.eot');
    src: url('museo_slab_500-webfont.eot?iefix') format('eot'),
         url('museo_slab_500-webfont.woff') format('woff'),
         url('museo_slab_500-webfont.ttf') format('truetype'),
         url('museo_slab_500-webfont.svg#webfontx3VkQjK7') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans300';
    src: url('museosans-300-webfont.eot');
    src: url('museosans-300-webfont.eot?iefix') format('eot'),
         url('museosans-300-webfont.woff') format('woff'),
         url('museosans-300-webfont.ttf') format('truetype'),
         url('museosans-300-webfont.svg#webfontfQl1egRo') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'StMarieThin';
    src: url('stmarie-thin-webfont.eot');
    src: local('StMarieThin'), 
		 url('stmarie-thin-webfont.eot?iefix') format('eot'),
         url('stmarie-thin-webfont.woff') format('woff'),
         url('stmarie-thin-webfont.ttf') format('truetype'),
         url('stmarie-thin-webfont.svg#webfontK1dFKKXY') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuicksandLight';
    src: url('quicksand_light-webfont.eot');
    src: local('QuicksandLight'),
		 url('quicksand_light-webfont.eot?iefix') format('eot'),
         url('quicksand_light-webfont.woff') format('woff'),
         url('quicksand_light-webfont.ttf') format('truetype'),
         url('quicksand_light-webfont.svg#webfont8a1wk8Nz') format('svg');
    font-weight: normal;
    font-style: normal;

}             
           
@font-face {
    font-family: 'MEgalopolisExtraRegular';
    src: url('megalopolisextra-webfont.eot');
    src: url('megalopolisextra-webfont.eot?iefix') format('eot'),
         url('megalopolisextra-webfont.woff') format('woff'),
         url('megalopolisextra-webfont.ttf') format('truetype'),
         url('megalopolisextra-webfont.svg#webfontHqZkfoBb') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'CantarellRegular';
    src: url('cantarell-regular-webfont.eot');
    src: url('cantarell-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('cantarell-regular-webfont.woff') format('woff'),
         url('cantarell-regular-webfont.ttf') format('truetype'),
         url('cantarell-regular-webfont.svg#CantarellRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CantarellOblique';
    src: url('cantarell-oblique-webfont.eot');
    src: url('cantarell-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('cantarell-oblique-webfont.woff') format('woff'),
         url('cantarell-oblique-webfont.ttf') format('truetype'),
         url('cantarell-oblique-webfont.svg#CantarellOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AllerBold';
    src: url('aller_bd-webfont.eot');
    src: url('aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('aller_bd-webfont.woff') format('woff'),
         url('aller_bd-webfont.ttf') format('truetype'),
         url('aller_bd-webfont.svg#AllerBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AllerBoldItalic';
    src: url('aller_bdit-webfont.eot');
    src: url('aller_bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('aller_bdit-webfont.woff') format('woff'),
         url('aller_bdit-webfont.ttf') format('truetype'),
         url('aller_bdit-webfont.svg#AllerBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AllerItalic';
    src: url('aller_it-webfont.eot');
    src: url('aller_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('aller_it-webfont.woff') format('woff'),
         url('aller_it-webfont.ttf') format('truetype'),
         url('aller_it-webfont.svg#AllerItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AllerLightRegular';
    src: url('aller_lt-webfont.eot');
    src: url('aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('aller_lt-webfont.woff') format('woff'),
         url('aller_lt-webfont.ttf') format('truetype'),
         url('aller_lt-webfont.svg#AllerLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AllerLightItalic';
    src: url('aller_ltit-webfont.eot');
    src: url('aller_ltit-webfont.eot?#iefix') format('embedded-opentype'),
         url('aller_ltit-webfont.woff') format('woff'),
         url('aller_ltit-webfont.ttf') format('truetype'),
         url('aller_ltit-webfont.svg#AllerLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AllerRegular';
    src: url('aller_rg-webfont.eot');
    src: url('aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('aller_rg-webfont.woff') format('woff'),
         url('aller_rg-webfont.ttf') format('truetype'),
         url('aller_rg-webfont.svg#AllerRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AllerDisplayRegular';
    src: url('allerdisplay-webfont.eot');
    src: url('allerdisplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('allerdisplay-webfont.woff') format('woff'),
         url('allerdisplay-webfont.ttf') format('truetype'),
         url('allerdisplay-webfont.svg#AllerDisplayRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBold';
    src: url('cabin-bold-webfont.eot');
    src: url('cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('cabin-bold-webfont.woff') format('woff'),
         url('cabin-bold-webfont.ttf') format('truetype'),
         url('cabin-bold-webfont.svg#CabinBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBoldItalic';
    src: url('cabin-bolditalic-webfont.eot');
    src: url('cabin-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('cabin-bolditalic-webfont.woff') format('woff'),
         url('cabin-bolditalic-webfont.ttf') format('truetype'),
         url('cabin-bolditalic-webfont.svg#CabinBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinItalic';
    src: url('cabin-italic-webfont.eot');
    src: url('cabin-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('cabin-italic-webfont.woff') format('woff'),
         url('cabin-italic-webfont.ttf') format('truetype'),
         url('cabin-italic-webfont.svg#CabinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMedium';
    src: url('cabin-medium-webfont.eot');
    src: url('cabin-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('cabin-medium-webfont.woff') format('woff'),
         url('cabin-medium-webfont.ttf') format('truetype'),
         url('cabin-medium-webfont.svg#CabinMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMediumItalic';
    src: url('cabin-mediumitalic-webfont.eot');
    src: url('cabin-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('cabin-mediumitalic-webfont.woff') format('woff'),
         url('cabin-mediumitalic-webfont.ttf') format('truetype'),
         url('cabin-mediumitalic-webfont.svg#CabinMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinRegular';
    src: url('cabin-regular-webfont.eot');
    src: url('cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('cabin-regular-webfont.woff') format('woff'),
         url('cabin-regular-webfont.ttf') format('truetype'),
         url('cabin-regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBold';
    src: url('cabin-semibold-webfont.eot');
    src: url('cabin-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('cabin-semibold-webfont.woff') format('woff'),
         url('cabin-semibold-webfont.ttf') format('truetype'),
         url('cabin-semibold-webfont.svg#CabinSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBoldItalic';
    src: url('cabin-semibolditalic-webfont.eot');
    src: url('cabin-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('cabin-semibolditalic-webfont.woff') format('woff'),
         url('cabin-semibolditalic-webfont.ttf') format('truetype'),
         url('cabin-semibolditalic-webfont.svg#CabinSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RadleyRegular';
    src: url('radley-webfont.eot');
    src: url('radley-webfont.eot?#iefix') format('embedded-opentype'),
         url('radley-webfont.woff') format('woff'),
         url('radley-webfont.ttf') format('truetype'),
         url('radley-webfont.svg#RadleyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuattrocentoSansRegular';
    src: url('quattrocentosans-regular-webfont.eot');
    src: url('quattrocentosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('quattrocentosans-regular-webfont.woff') format('woff'),
         url('quattrocentosans-regular-webfont.ttf') format('truetype'),
         url('quattrocentosans-regular-webfont.svg#QuattrocentoSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MovaviGrotesqueBlack';
    src: url('movavi_grotesque_black-webfont.eot');
    src: url('movavi_grotesque_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('movavi_grotesque_black-webfont.woff') format('woff'),
         url('movavi_grotesque_black-webfont.ttf') format('truetype'),
         url('movavi_grotesque_black-webfont.svg#MovaviGrotesqueBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MovaviGrotesqueBlackItalic';
    src: url('movavi_grotesque_black_italic-webfont.eot');
    src: url('movavi_grotesque_black_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('movavi_grotesque_black_italic-webfont.woff') format('woff'),
         url('movavi_grotesque_black_italic-webfont.ttf') format('truetype'),
         url('movavi_grotesque_black_italic-webfont.svg#MovaviGrotesqueBlackItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MavenProBlack';
    src: url('maven_pro_black-webfont.eot');
    src: url('maven_pro_black-webfont.eot?#iefix') format('eot'),
         url('maven_pro_black-webfont.woff') format('woff'),
         url('maven_pro_black-webfont.ttf') format('truetype'),
         url('maven_pro_black-webfont.svg#webfontXhB2DgBK') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MavenProBold';
    src: url('maven_pro_bold-webfont.eot');
    src: url('maven_pro_bold-webfont.eot?#iefix') format('eot'),
         url('maven_pro_bold-webfont.woff') format('woff'),
         url('maven_pro_bold-webfont.ttf') format('truetype'),
         url('maven_pro_bold-webfont.svg#webfontNOU7iUTL') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MavenProMedium';
    src: url('maven_pro_medium-webfont.eot');
    src: url('maven_pro_medium-webfont.eot?#iefix') format('eot'),
         url('maven_pro_medium-webfont.woff') format('woff'),
         url('maven_pro_medium-webfont.ttf') format('truetype'),
         url('maven_pro_medium-webfont.svg#webfontNj5iy4Dl') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MavenProRegular';
    src: url('maven_pro_regular-webfont.eot');
    src: url('maven_pro_regular-webfont.eot?#iefix') format('eot'),
         url('maven_pro_regular-webfont.woff') format('woff'),
         url('maven_pro_regular-webfont.ttf') format('truetype'),
         url('maven_pro_regular-webfont.svg#webfontOM8fITNz') format('svg');
    font-weight: normal;
    font-style: normal;

}
