$emerald: #50c878;
$emerald-lighter: #d6f2e0;

$redish: #ff5252;

$blue: #5796d6;

$lightgrey: #bbbfbb;
$grey: #707f70;
$darkgrey: #222222;

$blue: #325886;

$lightgreen: #b6ceb1;
$green: #90B289;
$darkgreen: #688162;

$white: #ffffff;

/*****************
* THEMING
******************/
$theme-font: $darkgrey;
$theme-font-light: $grey;
$theme-font-lighter: $lightgrey;

$theme-primary: $darkgrey;
$theme-primary-font: $white;

$theme-secondary: $redish;
$theme-secondary-font: $white;

$theme-tertiary: $emerald;
$theme-tertiary-font: $white;

$theme-quaternary: $blue;
$theme-quaternary-font: $white;

$theme-font-smaller: .9em;