@import "~src/assets/scss/variables";

.experience {
    margin-bottom: 1rem;

    h2 {
        font-size: 1.5em;
        padding: 10px 5px 10px 5px;

    }

    .col-10 {
        margin-bottom: 1em;

        :last-child {
            margin-bottom: 0;
        }
    }

    span.eq-diploma {
        display: block;
        font-size: 0.9em;
        color: $grey;
    }

    .timeline {
        padding: 0.5em 5px 0 5px;
        border-right: 1px dotted $lightgreen;
        color: $lightgreen;

        strong {
            color: $darkgreen;
        }

        ::after {
            position: absolute;
            top: calc(0.5em + 0.5em); /* padding-top + 0.5em */
            right: -5px;
            width: 10px;
            height: 10px;
            content: '';
            background-color: $lightgreen;
            border-radius: 50%;
        }
    }
    .location {
        margin-bottom: 5px;
        color: $lightgreen;
    }

    ul li::before {
        content: "•";
        margin-right: 5px;
        margin-left: 5px;
    }
}
