<div id="education">
        <h1>education</h1>
        <div class="row experience">
            <div class="col-2 timeline">
                <div class="interval button-quaternary">2009 - 2012</div>
            </div>
            <div class="col-10">
                <h2 class="container-fluid button-quaternary-neg">Diplôme d'Ingénieur<span class="eq-diploma">5th year degree in Computer Engineering</span></h2>
                <span class="school">ECE Paris École d’Ingénieurs</span>
                <div class="location">
                    <img src="assets/img/pinpoint.png" />
                    <span>Paris, France</span>
                </div>
                <span class="major">Major Information Technologies</span><span class="minor"> // Minor Audiovisual &
                    Multimedia</span>
                <div class="schoolbis">Concordia University <span class="interval button-quaternary-neg text-smaller">sept. – dec. 2011</span></div>
                <div class="location">
                    <img src="assets/img/pinpoint.png" />
                    <span>Montreal, QC, Canada</span>
                </div>
                <div class="minor">Computer Science</div>
            </div>
        </div>
        <div class="row experience">
            <div class="col-2 timeline">
                <div class="interval button-quaternary">2007 - 2009</div>
            </div>
            <div class="col-10">
                <h2 class="container-fluid button-quaternary-neg">Diplôme Universitaire de Technologie (DUT) Informatique<span class="eq-diploma">2
                        years technical degree in Computer Engineering</span></h2>
                <span class="school">IUT de Montreuil Université Paris 8</span>
                <div class="location">
                    <img src="assets/img/pinpoint.png" />
                    <span>Montreuil, France</span>
                </div>
                <span class="major">Major Software Development</span><span class="minor"> // Minor Software Development</span>
                <div class="schoolbis">Wrexham Glyndwr University <span class="interval button-quaternary-neg text-smaller">june – aug. 2008</span></div>
                <div class="location">
                    <img src="assets/img/pinpoint.png" />
                    <span>Wrexham, Wales</span>
                </div>
                <div class="minor">Applied Computing</div>
            </div>
        </div>
        <div class="row experience">
            <div class="col-2 timeline">
                <div class="interval button-quaternary">2004 - 2007</div>
            </div>
            <div class="col-10">
                <h2 class="container-fluid button-quaternary-neg">Diplôme d'Etudes Universitaires Générales (DEUG) d'Admistration Economique et
                    Sociale<span class="eq-diploma">2 years University degree in Administration, Economics and Social Science</span></h2>
                <span class="school">Université Paris 1 Panthéon-Sorbonne</span>
                <div class="location">
                    <img src="assets/img/pinpoint.png" />
                    <span>Paris, France</span>
                </div>
            </div>
        </div>
        <div class="row experience">
            <div class="col-2 timeline">
                <div class="interval button-quaternary">2001 - 2004</div>
            </div>
            <div class="col-10">
                <h2 class="container-fluid button-quaternary-neg">Baccalauréat Economique et Social<span class="eq-diploma">French High-School
                        diploma in Economics And Social Science</span></h2>
                <span class="school">Lycée Romain Rolland</span>
                <div class="location">
                    <img src="assets/img/pinpoint.png" />
                    <span>Ivry-Sur-Seine, France</span>
                </div>
                <div class="major">Major Economics</div>
            </div>
        </div>
    </div>