<div id="education">
  <h1 class="light-green">education</h1>
  <div class="row experience">
      <h2 class="container-fluid">Diplôme d'Ingénieur<span class="eq-diploma grey">5th year degree in Computer Engineering</span></h2>
      <div class="col-2 timeline text-smaller">
          <div class="dark-green"><strong>2009 - 2012</strong></div>
      </div>
      <div class="col-10">
          <div class="school">ECE Paris École d’Ingénieurs <span class="location text-smaller light-green">Paris, France</span></div>
          <div class="dark-green text-smaller">Major Information Technologies</div>
          <div class="light-green text-smaller">Minor Audiovisual & Multimedia</div>
          <div class="school grey">Concordia University <i class="text-smaller">(sept. – dec. 2011) </i> <span class="location text-smaller light-green">Montreal, QC, Canada</span></div>
          <div class="light-green text-smaller">Computer Science</div>
      </div>
  </div>  
  <div class="row experience">
      <h2 class="container-fluid">Diplôme Universitaire de Technologie (DUT) Informatique<span class="eq-diploma grey">2 years technical degree in Computer Engineering</span></h2>
      <div class="col-2 timeline text-smaller">
          <div class="dark-green"><strong>2007 - 2009</strong></div>
      </div>
      <div class="col-10">
          <div class="school">IUT de Montreuil Université Paris 8 <span class="location text-smaller light-green">Montreuil, France</span></div>
          <div class="dark-green text-smaller">Major Software Development</div>
          <div class="light-green text-smaller">Minor Software Development</div>
          <div class="school grey">Wrexham Glyndwr University <i class="text-smaller">(jun. – aug. 2008) </i><span class="location text-smaller light-green">Wrexham, Wales</span></div>
          <div class="light-green text-smaller">Applied Computing</div>
      </div>
  </div>  
  <div class="row experience">
      <h2 class="container-fluid">Diplôme d'Etudes Universitaires Générales (DEUG) d'Admistration Economique et Sociale<span class="eq-diploma grey">2 years University degree in Administration, Economics and Social Science</span></h2>
      <div class="col-2 timeline text-smaller">
          <div class="dark-green"><strong>2004 - 2007</strong></div>
      </div>
      <div class="col-10">
          <div class="school">Université Paris 1 Panthéon-Sorbonne <span class="location text-smaller light-green">Paris, France</span></div>
      </div>
  </div>  
  <div class="row experience">
      <h2 class="container-fluid">Baccalauréat Economique et Social<span class="eq-diploma grey">French High-School diploma in Economics And Social Science</span></h2>
      <div class="col-2 timeline text-smaller">
          <div class="dark-green"><strong>2001 - 2004</strong></div>
      </div>
      <div class="col-10">
          <div class="school">Lycée Romain Rolland <span class="location text-smaller light-green">Ivry-sur-Seine, France</span></div>
          <div class="dark-green text-smaller">Major Economics</div>
      </div>
  </div>  
</div>