@media print {

    @page {                
        size: A4;
    }
    
    html, body {
        margin: 0;
        padding: 0;
    }
    
    #personal-details {
        margin-top: 0;
    }
    
    #skills {
        max-width: 280px;
        line-height: 1em;
        margin-left: 40px;
    }
    
    .experience, .skill {
        page-break-inside: avoid; 
    }
    
}