
# <Files *>
# order deny,allow
# deny from all
# allow from 127.0.0.1
# </Files>

SetEnv PHP_VER 5
SetEnv REGISTER_GLOBALS 0

Options +FollowSymlinks
# URL rewriting module activation
RewriteEngine on

# URL rewriting rules
#RewriteBase /datafountains
RewriteRule ^login$ ./login.php [L]
RewriteRule ^logout$ ./functions.php?action=logout [L]
RewriteRule ^profil$ ./index.php [L]
RewriteRule ^tour$ ./index.php [L]

# Catch 404 errors
ErrorDocument 404 ./404.php