html, body {
	font-family: "Trebuchet MS", "Helvetica";
	font-size: 14px;
	background: url(background.png) repeat-x fixed;
	background-position: top-left;
	margin:0px;
	padding: 0px;
}

h1 {
	font-family: "Times New Roman";
	margin-left: 30px;
	color: #606060;
}
h2 {
	padding: 0px;
	margin: 0px;
	display: inline;
	text-transform: uppercase;
}
p {
	padding: 10px;
}
div {
	padding: 10px;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}
a:hover {
	text-decoration: underline;
}
form {
	padding: 10px;
}
label.float {
	display:block;
	float:left;
	width:120px;
}
input.button {
	color: #111111;
	margin-top: 20px;
	padding: 5px;
	padding-right: 25px;
	padding-left: 25px;
	border: 0px;
	border-radius: 8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	background : #BAC6FF;
}
input.button:hover {
	color: #EEEEEE;
	background : #333333;
}
div#content-header, div#content-body, div#content-footer {
	padding:0px;
	margin: 0px;
}
div#content-header {
height: 50px;
}
div#content-body {
margin-top: 10px;
}

div.clear {
display: block; width: 0px; height: 0px; padding: 0px; margin: 0px; clear: both;
}

/* MENU */
div#menu{
	padding: 0px;
	position: fixed;
	top: 0px;
	z-index: 99;
	background: #171717;
	background : -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(17,17,17)),
			color-stop(1, rgb(51,51,51))
	);
	background: -moz-linear-gradient(
    center bottom,
    rgb(17,17,17) 0%,
    rgb(51,51,51) 100%
	);
	width: 100%;
	height:50px;
	line-height: 50px;
	margin-top: 0px;
	color : #BABABA;
	box-shadow: 0px 0px 5px #000; 
	-webkit-box-shadow: 0px 0px 5px #000; 
	-moz-box-shadow: 0px 0px 5px #000; 
}
div#menu-in {
	padding: 0px;
	width: 800px;
	margin: auto;
	height: auto;
}
div#menu ul#top-menu {
	float: left;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: relative;
}
div#menu ul#top-menu  li {
	display: block;
	float: left;
	margin: auto;
	height: 50px;
}
div#menu a{
	color : #BABABA;
	text-decoration: none;
	padding: 10px;
}
div#menu ul#top-menu  li#actif, div#menu a#actif , div#menu ul#top-menu  li ul#top-menu2 li#actif{
	background: #000000;
}
div#menu ul#top-menu  li#actif a, div#menu a#actif, div#menu ul#top-menu  li ul#top-menu2 li#actif{
	color: #ffffff;
}
div#menu ul#top-menu  li a:hover, div#menu a:hover{
	color: #ffffff;
}
div#menu ul#top-menu  ul#top-menu2{
	margin: 0px;
	padding: 0px;
	position: absolute;
	display: none;
	box-shadow: 0px 0px 7px #000; 
	-webkit-box-shadow: 0px 0px 7px #000; 
	-moz-box-shadow: 0px 0px 7px #000; 
}
div#menu ul#top-menu  ul#top-menu2 li{
	background: #171717;
	width: 80px;
	height: 30px;
	line-height: 30px;
	padding: 0px 5px;
	float: none;
}
div#menu ul#top-menu li:hover > ul#top-menu2{
	display: block;
}
span#vr {
	display: block;
	float: right;
	height: 40px;
	margin: 5px 20px 0px 20px;
	border-left: 1px solid #040404;
	border-right: 1px solid #2F2F2F;
}
div#logged , div#log{
	padding: 0px;
	float: right;
}
div#log form{
	padding: 0px;
	display: inline;
}
div#log form input.short{
	background: #444444 ;
	width: 80px;
	margin-left: 10px;
	border: 1px solid black;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
div#log form input.short:hover{	
	background: #6b6b6b ;
}
div#log form input.short:focus{	
	background: #FFF ;
}
div#log form input#form-login{
	color: #BABABA;
	background : -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(17,17,17)),
			color-stop(1, rgb(51,51,51))
	);
	background: -moz-linear-gradient(
    center bottom,
    rgb(17,17,17) 0%,
    rgb(51,51,51) 100%
	);
	margin-left: 10px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
div#log form input#form-login:hover{
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(96,96,96)),
    color-stop(1, rgb(17,17,17))
	);
	background: -moz-linear-gradient(
    center bottom,
    rgb(96,96,96) 0%,
    rgb(17,17,17) 100%
	);
}
div#log form input#form-login:active{
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(51,51,51)),
    color-stop(1, rgb(17,17,17))
	);
	background :-moz-linear-gradient(
    center bottom,
    rgb(51,51,51) 0%,
    rgb(17,17,17) 100%
	);
}
div#logged a#a-logout{
	font-size: 10px;
	text-decoration: none;
	color: #BABABA;
	background : -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(17,17,17)),
			color-stop(1, rgb(51,51,51))
	);
	background: -moz-linear-gradient(
    center bottom,
    rgb(17,17,17) 0%,
    rgb(51,51,51) 100%
	);
	margin-left: 10px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

div#logged a#a-logout:hover{
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(96,96,96)),
    color-stop(1, rgb(17,17,17))
	);
	background: -moz-linear-gradient(
    center bottom,
    rgb(96,96,96) 0%,
    rgb(17,17,17) 100%
	);
}
div#logged a#a-logout:active{
	background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(51,51,51)),
    color-stop(1, rgb(17,17,17))
	);
	background :-moz-linear-gradient(
    center bottom,
    rgb(51,51,51) 0%,
    rgb(17,17,17) 100%
	);
}
div#search-form  {
	position: relative;
	z-index: 98;
	top: 50px;
	width: 800px;
	padding: 0px;
	margin: auto;
	text-align: right;
}
div#search-form form {
	padding: 0px;
}
div#search-form input {
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
div#search-form input.short{
	border: 1px solid #BAC6FF;
	padding: 3px;
	text-align: right;
	width: 100px;
}
div#search-form input.short:hover, div#search-form input.short:focus{
	border-color: #333333;
}
/* FIN MENU */


/* CONTENU */
div#content {
	position: relative;
	z-index: 50;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 800px;
	margin: auto;
	background: #F7F8FF;
	border: 0px;
	border-radius: 10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	box-shadow: 0px 0px 7px #000; 
	-webkit-box-shadow: 0px 0px 5px #1f1f1f; 
	-moz-box-shadow: 0px 0px 7px #000; 
}
a.read-more {
	font-family: "Trebuchet MS";
	font-size: 12px;
	text-decoration: none;
	color: #D2344F;
}
div.short-snippet {
	border-top: 1px solid #F7F8FF;
	border-bottom: 1px solid #F7F8FF;
}
div.short-snippet.odd {
	background: #F7FFF9;
}
div.short-snippet.even {
	background: #FFF4FC;
}
div.short-snippet:hover {
	background: #EFF1FF;
	border-top: 1px solid #B3B5BF;
	border-bottom: 1px solid #B3B5BF;
}
div.short-snippet h4{
	display: inline;	
}
div.short-snippet span.auteur {
	position: absolute;
	left: 500px;
	color: #58595E;
}
div.short-snippet div.id-snippet {
float: left; font-size: 30px; padding: 0px; margin-right: 10px; color:#D8D8D8
}
div.full-snippet {
}
div.code {
	margin: 10px;
	border-top: 1px solid #B3B5BF;
	border-bottom: 1px solid #B3B5BF;
	overflow: auto;
	background: #ffffff;
}
div.full-snippet span.auteur {
	color: #58595E;
}
/* FIN CONTENU */


/* FOOTER */
div#copyright {
	color: #131313;
	width: 800px;
	margin: auto;
	font-size: 10px;
}
