<div id="work-experiences">
  <h1>work experience</h1>
  <div class="row experience">
      <h2 class="container-fluid">Senior Software Engineer / Technical Leader</h2>
      <div class="col-2 timeline text-smaller">
          <div><strong>feb. 2017 - present</strong></div>
          <div>{{ getDuration('2017-02-01', '') }}</div>
      </div>
      <div class="col-10">
          <div class="company">Société Général CIB</div>
          <div class="location text-smaller">Montreal, QC, Canada<br>Val-de-Fontenay, France</div>
          <ul class="tasks">
              <li>Kickstarted a new project by creating guidelines for development, testing, build etc. in order to provide the future feature teams with strong and common basis.</li>
              <li>Designed a microservice architectured application providing many APIs to process legal contracts and provide services on them.</li>
              <li>Backend development with a TDD/BDD approach. Created integration testings and scenarios with business users and their requirements.
              <li>Successfully created build pipelines in order to have a continuous integration environment and flawlessly deliver in production.</li>
              <li>Contribution to the frontend client development.</li>
          </ul>
          <ul class="job-skills text-smaller">
              <li>Java</li>
              <li>Spring</li>
              <li>Spring Boot</li>
              <li>OAuth2</li>
              <li>Consul</li>
              <li>Zuul</li>
              <li>Jenkins</li>
              <li>Sonar</li>
              <li>Git</li>
              <li>Maven</li>
              <li>Docker</li>
              <li>Angular</li>
              <li>Python</li>
              <li>BDD</li>
              <li>TDD</li>
              <li>DevOps</li>
          </ul>
      </div>
  </div>
  <div class="row experience">
      <h2 class="container-fluid">Software Engineer</h2>
      <div class="col-2 timeline text-smaller">
          <div><strong>nov. 2016 - feb. 2017</strong></div>
          <div>4 months</div>
      </div>
      <div class="col-10">
          <div class="company">Generali</div>
          <div class="location text-smaller">La Plaine Saint-Denis, France</div>
          <ul class="tasks">
              <li>Implemented good practices and development guidelines in order to stabilize and standardize all Java applications of the IT department (industrialization, TDD, BDD, intergration testings).</li>
              <li>Migrated an obsolete webservice from Corba to Java.</li>
          </ul>
          <ul class="job-skills text-smaller">
              <li>J2EE</li>
              <li>Angular JS</li>
              <li>Selenuim/Fluentlenium</li>
              <li>Jenkins</li>
          </ul>
      </div>
      <div class="col-2 timeline text-smaller">
          <div><strong>oct. 2016 - nov. 2016</strong></div>
          <div>1 month</div>
      </div>
      <div class="col-10">
          <div class="company">SFEIR</div>
          <div class="location text-smaller">Neuilly-sur-Seine, France</div>
          <ul class="tasks">
              <li>Contribution to the backend development of an application dedicated to the employees skillsets with a graph database and graphic representation.</li>
          </ul>
          <ul class="job-skills text-smaller">
              <li>Java</li>
              <li>Docker</li>
              <li>Spring</li>
              <li>Spring Boot</li>
              <li>Neo4J Database</li>
              <li>Google Cloud (AppEngine, ComputeEngine)</li>
          </ul>
      </div>
      <div class="col-2 timeline text-smaller">
          <div><strong>feb. 2013 - oct. 2016</strong></div>
          <div>3 years 8 months</div>
      </div>
      <div class="col-10">
          <div class="company">Crédit Agricole CIB</div>
          <div class="location text-smaller">Courbevoie, France<br>New-York, NY, USA (2014)</div>
          <ul class="tasks">
              <li>Designed and implemented the complete refactoring of inhouse front-to-back booking application from Struts to Spring, and from Java 5 to Java with teams in Paris and Noida (India).</li>
              <li>Completed the makeover of the CTRLM (scheduler) architecture for CACIB New-York IT Treasury department.</li>
              <li>Study and development for Treasury IT on front-to-back proprietary application Kondor+.</li>
              <li>Handled support L3 and managed offshore team in Noida (6 peoples, India).
          </ul>
          <ul class="job-skills text-smaller">
              <li>Java</li>
              <li>Spring</li>
              <li>Hibernate</li>
              <li>jUnit</li>
              <li>SVN</li>
              <li>Maven</li>
              <li>JavaScript</li>
              <li>Kondor+ by Misys (formerly by Reuters)</li>
              <li>Shell scripting</li>
              <li>STP</li>
              <li>Sybase ASE (T/SQL)</li>
              <li>CTRLM</li>
              <li>Team Management</li>
          </ul>
      </div>
  </div>
  <div class="row experience">
      <h2 class="container-fluid">Programmer Analyst</h2>
      <div class="col-2 timeline text-smaller">
          <div><strong>may 2012 - nov. 2012</strong></div>
          <div>7 months</div>
      </div>
      <div class="col-10">
          <div class="company">BNP Paribas</div>
          <div class="location text-smaller">Montreuil, France</div>
          <ul class="tasks">
              <li>Detailed analysis of business requirements to enhance the reporting tool of the Treasury.</li>
              <li>Development of new reports through the creation of complex stored procedures.</li>
              <li>Optimization of the stored procedures through indexes and complex sql joins with temporary tables.</li>
          </ul>
          <ul class="job-skills text-smaller">
              <li>SVN</li>
              <li>Shell scripting</li>
              <li>Sybase ASE (T/SQL)</li>
              <li>C++</li>
              <li>Powerbuilder</li>
          </ul>
      </div>
  </div>
  <div class="row experience">
      <h2 class="container-fluid">Web Developper</h2>
      <div class="col-2 timeline text-smaller">
          <div><strong>apr. 2011 - jul. 2011</strong></div>
          <div>6 months</div>
      </div>
      <div class="col-10">
          <div class="company">buzzing light</div>
          <div class="location text-smaller">Paris, France</div>
          <ul class="tasks">
              <li>Backend and frontend development for the short-term jobs web and mobile platform <strong><i>Beepjob</i></strong></li>
              <li>Creation of the search engine based on the user location. Enhancement of this search engine to take into account many criterias (distance, type of contract, relevance)</li>
              <li>Contribution to the design of the visual identity.</li>
          </ul>
          <ul class="job-skills text-smaller">
              <li>PHP</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>AJAX</li>
              <li>MySQL</li>
              <li>Google Geolocation API</li>
          </ul>
      </div>
  </div>
</div>