<body class="dark-grey">
    <div class="container">
        <div id="personal-details">
            <h1 class="dark-green">Damien Rubio</h1>
            <div>(514) 915-6290 | <a class="green" href="mailto:job@damienrubio.com">job@damienrubio.com</a> | Montreal, QC, Canada</div>
        </div>
        <div class="d-lg-flex d-print-flex">
            <div class="order-2">
                <app-skills></app-skills>
            </div>
            <div class="order-1">
                <app-experiences></app-experiences>
            </div>
        </div>
        <div class="container-fluid text-smaller d-print-none" id="powered-by">
            Crafted with <span class="heart">&hearts;</span><br>and powered by <a href="https://www.docker.com/" target="_blank">Docker</a>, <a href="https://www.nginx.com/" target="_blank">Nginx</a>, <a href="http://www.php.net/" target="_blank">PHP</a>, <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> and  <a href="https://angular.io/" target="_blank">Angular</a>
        </div>
    </div>
</body>
