@font-face {
    font-family: 'MuseoSans500';
    src: url('museosans_500-webfont.eot');
    src: local('Museo Sans'), 
		 local('MuseoSans500'),
		 url('museosans_500-webfont.eot?iefix') format('eot'),
         url('museosans_500-webfont.woff') format('woff'),
         url('museosans_500-webfont.ttf') format('truetype'),
         url('museosans_500-webfont.svg#webfont5wxGuJSk') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans700';
    src: url('museosans_700-webfont.eot');
    src: local('MuseoSans700'),
		 url('museosans_700-webfont.eot?iefix') format('eot'),
         url('museosans_700-webfont.woff') format('woff'),
         url('museosans_700-webfont.ttf') format('truetype'),
         url('museosans_700-webfont.svg#webfontz9YAQOKn') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans900';
    src: url('museosans_900-webfont.eot');
    src: local('MuseoSans900'),
		 url('museosans_900-webfont.eot?iefix') format('eot'),
         url('museosans_900-webfont.woff') format('woff'),
         url('museosans_900-webfont.ttf') format('truetype'),
         url('museosans_900-webfont.svg#webfontmsbLVE33') format('svg');
    font-weight: normal;
    font-style: normal;

}  

@font-face {
    font-family: 'Museo300';
    src: url('museo300-regular-webfont.eot');
    src: local('Museo300'),
		 url('museo300-regular-webfont.eot?iefix') format('eot'),
         url('museo300-regular-webfont.woff') format('woff'),
         url('museo300-regular-webfont.ttf') format('truetype'),
         url('museo300-regular-webfont.svg#webfontRYLiAJkp') format('svg');
    font-weight: normal;
    font-style: normal;

}  


@font-face {
    font-family: 'MuseoSlab300Italic';
    src: url('museo_slab_300italic-webfont.eot');
    src: url('museo_slab_300italic-webfont.eot?iefix') format('eot'),
         url('museo_slab_300italic-webfont.woff') format('woff'),
         url('museo_slab_300italic-webfont.ttf') format('truetype'),
         url('museo_slab_300italic-webfont.svg#webfontNLbeOFdF') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSlab500Italic';
    src: url('museo_slab_500italic-webfont.eot');
    src: url('museo_slab_500italic-webfont.eot?iefix') format('eot'),
         url('museo_slab_500italic-webfont.woff') format('woff'),
         url('museo_slab_500italic-webfont.ttf') format('truetype'),
         url('museo_slab_500italic-webfont.svg#webfontQ1KtVMdL') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans500Italic';
    src: url('museosans_500_italic-webfont.eot');
    src: url('museosans_500_italic-webfont.eot?iefix') format('eot'),
         url('museosans_500_italic-webfont.woff') format('woff'),
         url('museosans_500_italic-webfont.ttf') format('truetype'),
         url('museosans_500_italic-webfont.svg#webfontNI25lxqG') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans300Italic';
    src: url('museosans-300italic-webfont.eot');
    src: url('museosans-300italic-webfont.eot?iefix') format('eot'),
         url('museosans-300italic-webfont.woff') format('woff'),
         url('museosans-300italic-webfont.ttf') format('truetype'),
         url('museosans-300italic-webfont.svg#webfontVelSbSUc') format('svg');
    font-weight: normal;
    font-style: normal;

}         

@font-face {
    font-family: 'MuseoSlab500';
    src: url('museo_slab_500-webfont.eot');
    src: url('museo_slab_500-webfont.eot?iefix') format('eot'),
         url('museo_slab_500-webfont.woff') format('woff'),
         url('museo_slab_500-webfont.ttf') format('truetype'),
         url('museo_slab_500-webfont.svg#webfontx3VkQjK7') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans300';
    src: url('museosans-300-webfont.eot');
    src: url('museosans-300-webfont.eot?iefix') format('eot'),
         url('museosans-300-webfont.woff') format('woff'),
         url('museosans-300-webfont.ttf') format('truetype'),
         url('museosans-300-webfont.svg#webfontfQl1egRo') format('svg');
    font-weight: normal;
    font-style: normal;

}