/****************************
*** bootstrap
****************************/
@import "~src/assets/scss/main.scss";

/****************************
*** fonts
****************************/
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/****************************
*** colors
****************************/
.heart {
    color: red;
}

/****************************
*** basics
****************************/
body {
	font-family: Calibri;
    min-width: 500px;
    color: $darkgrey;
}
h1, h2 {
    font-family: "Oswald", sans-serif;
	padding: 10px 5px 10px 5px;
}
h1 {
    color: $lightgreen;
}
.text-smaller {
	font-size: 0.9em;
}

a {
    color: $green;

    &:hover {
        color: $darkgreen;
    }
}
/****************************
*** cv components
****************************/
.cv-part {
    margin: 0 0 40px 0;
    padding-right: 15px;
    padding-left: 15px;

    h1 {
        border-bottom: 1px solid;
        border-color: $lightgreen;
        text-align: center;
        font-size: 1.8em;
        text-transform: uppercase;
    }
}

