@import "~src/assets/scss/variables";

/****************************
*** header
****************************/
#personal-details {
    margin: 0 auto;
    padding: 30px 0;

    #name, #position {
        font-size: 3em;
        text-align: justify;
        text-transform: uppercase;
        line-height: .75em;
    }

    #position {
        color: $theme-font-lighter;
    }

    #contact {
        font-size: .9em;
        max-width: 250px;
        color: $theme-font-lighter;

        .location {
            margin: 0;
            font-size: 1em;
        }
    }
}

/****************************
*** footer
****************************/
#powered-by {
    opacity: 0.5;
    font-family: "Pacifico", cursive;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}


/****************************
*** medias
****************************/
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

    #contact {
        max-width: 100% !important;
        margin-top: 10px;

        span {
            display: inline-block;

            &::before {
                content: "|";
                margin: 0 7px;
            }
            &:first-child::before {
                content: "";
            }

        }
    }
}
