<body>
    <div class="container">
        <div id="personal-details" class="d-sm-flex d-print-flex">
            <div class="d-flex flex-column flex-fill">
                <span id="name">Damien Rubio</span>
                <span id="position" style="padding-left: .5em">Application Architect</span>
                <span id="position" style="padding-left: 1em">Senior Software Engineer</span>
            </div>
            <div id="contact" class="d-sm-flex flex-column flex-fill">
                <span class="flex-fill"><a href="tel:+33670116290">+33 (0)6.70.11.62.90</a></span>
                <span class="flex-fill"><a href="mailto:job@damienrubio.com">job@damienrubio.com</a></span>
                <span class="location flex-fill"><img src="../assets/img/noun_pinpoint_1426597.svg" />Nantes, France</span>
                <span class="location flex-fill"><img src="../assets/img/noun_Globe_1147709.svg" />Remote</span>
            </div>
        </div>
        <div class="d-lg-flex d-print-flex">
            <div class="order-2">
                <app-skills></app-skills>
            </div>
            <div class="order-1">
                <app-experiences></app-experiences>
            </div>
        </div>
        <div class="container-fluid d-print-none" id="powered-by">
            Crafted with <span class="heart">&hearts;</span><br/>
            Powered by <a href="https://www.docker.com/" target="_blank">Docker</a>,
            <a href="https://www.nginx.com/" target="_blank">Nginx</a>, <a href="https://angular.io/" target="_blank">Angular</a>
            and <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a><br/>
            Hosted on <a href="https://cloud.google.com" target="_blank">Google Cloud</a>
        </div>
    </div>
</body>