<div id="work-experiences">
    <h1>work experience</h1>
    <div class="row experience">
        <div class="col-12">
            <h2 class="col-md-10 col-12 float-right button-tertiary-neg">Application Architect / Technical Leader</h2>
        </div>
        <div class="col-2 timeline">
            <div class="interval button-tertiary">2019</div>
            <div class="duration">{{ getDuration('2019-02-01', '2019-09-13') }}</div>
        </div>
        <div class="col-10">
            <span class="company">National Bank of Canada</span>
            <div class="location">
                <img src="assets/img/pinpoint.png" />
                <span>Montreal, QC, Canada</span>
            </div>
            <ul class="tasks">
                <li>As an architect, we initiated the DevSecOps transformation. We used a buildpack approach and many tools such as CircleCI, Jib and Kaniko.</li>
                <li>I was also involved in the recruitment process by giving technical interviews to tens of candidates.</li>
                <li>I was tech lead of the team in charge of a sensitive client-facing (couple millions of users) webapp. We delivered lots of improvements, especially dedicated to accessibility.</li>
                <li>And I also took part in the backend development and had to work on legacy microservices as well as build new ones.</li>
            </ul>
            <ul class="job-skills">
                <li class="button-secondary-neg">DevSecOps</li>
                <li class="button-secondary-neg">Buildpacks</li>
                <li class="button-secondary-neg">Microservices</li>
                <li class="button-secondary-neg">CI/CD</li>
                <li class="button-secondary-neg">Java</li>
                <li class="button-secondary-neg">Spring</li>
                <li class="button-secondary-neg">Spring Boot</li>
                <li class="button-secondary-neg">Reactor</li>
                <li class="button-secondary-neg">Kafka</li>
                <li class="button-secondary-neg">CircleCI</li>
                <li class="button-secondary-neg">Docker</li>
                <li class="button-secondary-neg">Jib</li>
                <li class="button-secondary-neg">Kaniko</li>
                <li class="button-secondary-neg">React</li>
                <li class="button-secondary-neg">Redux</li>
                <li class="button-secondary-neg">GraphQL</li>
                <li class="button-secondary-neg">MongoDB</li>
                <li class="button-secondary-neg">Okta</li>
                <li class="button-secondary-neg">OpenShift</li>
                <li class="button-secondary-neg">Redis</li>
            </ul>
        </div>
    </div>
    <div class="row experience">
        <div class="col-12">
            <h2 class="col-md-10 col-12 float-right button-tertiary-neg">Technical Leader / Senior Software Engineer</h2>
        </div>
        <div class="col-2 timeline">
            <div class="interval button-tertiary">2017 - 2019</div>
            <div class="duration">{{ getDuration('2017-02-01', '2019-02-01') }}</div>
        </div>
        <div class="col-10">
            <span class="company">Société Général CIB</span>
            <div class="location">
                <img src="assets/img/pinpoint.png" />
                <span>Montreal, QC, Canada</span>
            </div>
            <div class="location">
                <img src="assets/img/pinpoint.png" />
                <span>Val-de-Fontenay, France </span><span class="interval button-tertiary-neg text-smaller">2017</span>
            </div>
            <ul class="tasks">
                <li>As the first person on the team, I kickstarted a new project by creating architecture, development guidelines, CI/CD platforms etc.</li>
                <li>Everything was done in a microservice approach to provide many APIs in order to process legal contracts with some NLP and ML.</li>
                <li>The backend development was done with TDD/BDD methodology and we created integration testings and scenarios with the users.
                <li>The CI/CD pipeline was done mainly with Jenkins and XLDeploy in order to have a continuous integration environment and flawlessly deliver from dev to prod.</li>
                <li>I also contributed to the frontend client development.</li>
            </ul>
            <ul class="job-skills">
                <li class="button-secondary-neg">Java</li>
                <li class="button-secondary-neg">Spring</li>
                <li class="button-secondary-neg">Spring Boot</li>
                <li class="button-secondary-neg">OAuth2</li>
                <li class="button-secondary-neg">Consul</li>
                <li class="button-secondary-neg">Zuul</li>
                <li class="button-secondary-neg">Jenkins</li>
                <li class="button-secondary-neg">Sonar</li>
                <li class="button-secondary-neg">Git</li>
                <li class="button-secondary-neg">Maven</li>
                <li class="button-secondary-neg">Docker</li>
                <li class="button-secondary-neg">Angular</li>
                <li class="button-secondary-neg">Python</li>
                <li class="button-secondary-neg">BDD</li>
                <li class="button-secondary-neg">TDD</li>
                <li class="button-secondary-neg">DevOps</li>
                <li class="button-secondary-neg">Cucumber</li>
                <li class="button-secondary-neg">Living Documentation</li>
            </ul>
        </div>
    </div>
    <div class="row experience">
        <div class="col-12">
            <h2 class="col-md-10 col-12 float-right button-tertiary-neg">Software Engineer</h2>
        </div>
        <div class="col-2 timeline">
            <div class="interval button-tertiary">2016 - 2017</div>
            <div class="duration">4 months</div>
        </div>
        <div class="col-10">
            <span class="company">Generali</span>
            <div class="location">
                <img src="assets/img/pinpoint.png" />
                <span>La Plaine Saint-Denis, France</span>
            </div>
            <ul class="tasks">
                <li>I helped create good practices and development guidelines in order to stabilize and standardize all Java applications of the IT department (CI/CD, TDD, BDD, libraries).</li>
                <li>I also migrated an obsolete webservice from Corba to Java.</li>
            </ul>
            <ul class="job-skills">
                <li class="button-secondary-neg">J2EE</li>
                <li class="button-secondary-neg">Angular JS</li>
                <li class="button-secondary-neg">Selenuim/Fluentlenium</li>
                <li class="button-secondary-neg">Jenkins</li>
            </ul>
        </div>
        <div class="col-2 timeline">
            <div class="interval button-tertiary">2016</div>
            <div class="duration">1 month</div>
        </div>
        <div class="col-10">
            <span class="company">SFEIR</span>
            <div class="location">
                <img src="assets/img/pinpoint.png" />
                <span>Neuilly-sur-Seine, France</span>
            </div>
            <ul class="tasks">
                <li>I contributed to the backend development of an application dedicated to the employees skillsets with a graph database and graphic representation.</li>
            </ul>
            <ul class="job-skills">
                <li class="button-secondary-neg">Java</li>
                <li class="button-secondary-neg">Docker</li>
                <li class="button-secondary-neg">Spring</li>
                <li class="button-secondary-neg">Spring Boot</li>
                <li class="button-secondary-neg">Neo4J Database</li>
                <li class="button-secondary-neg">Google Cloud (AppEngine, ComputeEngine)</li>
            </ul>
        </div>
        <div class="col-2 timeline">
            <div class="interval button-tertiary">2013 - 2016</div>
            <div class="duration">3 years 8 months</div>
        </div>
        <div class="col-10">
            <span class="company">Crédit Agricole CIB</span>
            <div class="location">
                <img src="assets/img/pinpoint.png" />
                <span>Courbevoie, France</span>
            </div>
            <div class="location">
                <img src="assets/img/pinpoint.png" />
                <span>New-York, NY, USA </span><span class="interval button-tertiary-neg text-smaller">june - jul. 2014</span>
            </div>
            <ul class="tasks">
                <li>I designed and implemented the complete refactoring of an inhouse front-to-back booking application from Struts to Spring, and from Java 5 to Java 8 with teams in Paris and Noida (India).</li>
                <li>I did the full makeover of the CTRLM (scheduler) architecture for New-York IT Treasury department.</li>
                <li>I also developed functionalities on front-to-back proprietary application Kondor+, handled support L3 and managed an offshore team of 6 peoples in Noida.
            </ul>
            <ul class="job-skills">
                <li class="button-secondary-neg">Java</li>
                <li class="button-secondary-neg">Spring</li>
                <li class="button-secondary-neg">Hibernate</li>
                <li class="button-secondary-neg">jUnit</li>
                <li class="button-secondary-neg">SVN</li>
                <li class="button-secondary-neg">Maven</li>
                <li class="button-secondary-neg">JavaScript</li>
                <li class="button-secondary-neg">Kondor+ by Misys (formerly by Reuters)</li>
                <li class="button-secondary-neg">Shell scripting</li>
                <li class="button-secondary-neg">STP</li>
                <li class="button-secondary-neg">Sybase ASE (T/SQL)</li>
                <li class="button-secondary-neg">CTRLM</li>
                <li class="button-secondary-neg">Team Management</li>
            </ul>
        </div>
    </div>
    <p class=" pagebreak"></p>
    <div class="row experience">
        <div class="col-12">
            <h2 class="col-md-10 col-12 float-right button-tertiary-neg">Programmer Analyst</h2>
        </div>
        <div class="col-2 timeline">
            <div class="interval button-tertiary">2012</div>
            <div class="duration">7 months</div>
        </div>
        <div class="col-10">
            <span class="company">BNP Paribas</span>
            <div class="location">
                <img src="assets/img/pinpoint.png" />
                <span>Montreuil, France</span>
            </div>
            <ul class="tasks">
                <li>I made detailed analysis of business requirements to enhance the reporting tool of the Treasury.</li>
                <li>I developed tens of new reports through the creation of complex and optimized stored procedures.</li>
                <li>These optimizations were mainly done through indexes and crafted SQL joins with temporary tables.</li>
            </ul>
            <ul class="job-skills">
                <li class="button-secondary-neg">SVN</li>
                <li class="button-secondary-neg">Shell scripting</li>
                <li class="button-secondary-neg">Sybase ASE (T/SQL)</li>
                <li class="button-secondary-neg">C++</li>
                <li class="button-secondary-neg">Powerbuilder</li>
            </ul>
        </div>
    </div>
    <div class="row experience">
        <div class="col-12">
            <h2 class="col-md-10 col-12 float-right button-tertiary-neg">Web Developper</h2>
        </div>
        <div class="col-2 timeline">
            <div class="interval button-tertiary">2011</div>
            <div class="duration">6 months</div>
        </div>
        <div class="col-10">
            <span class="company">buzzing light</span>
            <div class="location">
                <img src="assets/img/pinpoint.png" />
                <span>Paris, France</span>
            </div>
            <ul class="tasks">
                <li>I as part of both backend and frontend development for the short-term jobs web and mobile platform <strong><i>Beepjob</i></strong></li>
                <li>I fully designed and developed the search engine based on the user location, enhancement with many criterias such as distance, type of contract, relevance etc.</li>
                <li>I also contributed to definition of the visual identity.</li>
            </ul>
            <ul class="job-skills">
                <li class="button-secondary-neg">PHP</li>
                <li class="button-secondary-neg">HTML</li>
                <li class="button-secondary-neg">CSS</li>
                <li class="button-secondary-neg">JavaScript</li>
                <li class="button-secondary-neg">AJAX</li>
                <li class="button-secondary-neg">MySQL</li>
                <li class="button-secondary-neg">Google Geolocation API</li>
            </ul>
        </div>
    </div>
</div>